[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "libraries/ESPAsyncTCP"]
	path = libraries/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP
[submodule "libraries/ESPAsyncWebServer"]
	path = libraries/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
